<nav>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png"
  />

  <div>
    <div *ngIf="loginService.logged" class="elems">
      <ul>
        <li>
          <a routerLink="/deck">deck</a>
        </li>
        <li>
          <a routerLink="/store">store</a>
        </li>
      </ul>
      <p>Hello,{{ loginService.user?.username }}</p>
      <p>{{ loginService.user?.coins }}€</p>
      <button (click)="disconnect()">Disconnect</button>
    </div>
  </div>
</nav>
